autom4te.cache
aclocal.m4
config.h
config.h.in
config.h.in.orig
config.log
config.status
configure
version_date.h
.DS_Store
*.framework
*.xcworkspace
xcuserdata
build
*.o
*.lo
*.a
*.exe
*.pdb
*.prg
*.app
*.tos
*.ttp
*.ldg
*.slb
*.ldg
*.pcf
*.ref
*.hyp
*.stg
*.lst
*.srec
*.log
*.trs
*.god
*.map
lt-*.c
stamp-*
.stamp.*
.libs
.deps
.dirstamp
.xlk
src/.gdbinit
mon.out
gmon.out
a.out
core
*.gcda
*.gcno
*.gcov
DEBUGFILE
*.orig
*.bak
bla.*
aaa.cfg
*.uls
udo_fc.*
udo_fo.*
*.cnt
*.rtf
zview/xpdf-*
*.png
*.jpg
*.bmp
zview/_dist/zview.rsc
zview/tests
zview/tools/stripex
zview/plugins/webp/webpinfo
